.features {
  &__container {
    margin-top: 7rem;

    h1 {
      font-size: 3rem;
    }
  }

  &__list {
    margin-top: 3.5rem;
    display: grid;
    grid-auto-flow: row;
    row-gap: 4.25rem;

    &.--home {
      margin-top: 9rem;
    }
  }

  &__more {
    display: grid;
    justify-content: flex-end;

    @include mobile {
      justify-content: center;
    }

    a {
      font-weight: 600;

      span + span {
        transition: all 150ms ease-in-out;
        margin-left: 0.5rem;
        padding-right: 0.5rem;
      }

      &:hover {
        color: var(--colour-primary);
        span + span {
          margin-left: 1rem;
          padding-right: 0rem;
        }
      }
    }
  }
}

.feature {
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.1);
  transition: all 150ms ease-in-out;

  @include mobile {
    grid-template-columns: none;
    grid-auto-flow: row;
  }

  &__detail {
    padding: 4.5rem 5rem 2.5rem 2.75rem;
    display: grid;
    grid-template-rows: 1fr auto;

    @include mobile {
      grid-row: 2;
      padding: 1rem 1rem 2rem 1rem;
    }

    small {
      font-size: 1rem;
      line-height: 1.4;
      display: block;
      margin-bottom: 0.75rem;
      color: #a9aaab;
      font-weight: 500;
    }

    strong {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      font-weight: 600;
      line-height: 1.2;
      display: block;
    }

    p {
      line-height: 2;

      margin-bottom: 2rem;
    }
  }

  &__image {
    line-height: 0;
    position: relative;

    &-overlay {
      opacity: 0;
      background: rgb(121, 48, 254);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: all 150ms ease-in-out;
    }

    img {
      height: auto;
      min-height: 0;
      width: 100%;
      margin: 0;
      padding: 0;
      object-fit: cover;
    }

    @include mobile {
      grid-row: 1;

      img {
        width: auto;
        object-fit: cover;
      }
    }
  }

  &__details {
    transition: all 150ms ease-in-out;
    font-weight: 600;

    span {
      margin-left: 0.5rem;
      transition: all 150ms ease-in-out;
    }
  }

  &:hover {
    box-shadow: 0px 9px 24px rgba(0, 0, 0, 0.1);

    .feature__details {
      color: var(--colour-primary);

      span {
        margin-left: 1rem;
        color: var(--colour-primary);
      }
    }

    .feature__image {
      &-overlay {
        opacity: 0.2;
      }
    }
  }
}
