.brands {
  &__container {
    margin-top: 12rem;

    @include mobile {
      margin-top: 8rem;
    }
  }

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 3rem;
  row-gap: 3rem;

  justify-items: center;
  align-items: center;

  @include mobile {
    grid-template-columns: repeat(2, 1fr);
  }
}

.contact {
  &__container {
    margin-top: 9rem;
    display: grid;
    row-gap: 3rem;

    strong {
      font-weight: 500;
    }

    @include mobile {
      row-gap: 1rem;
    }
  }
}
