.article {
  &__header {
    margin-top: 4rem;
    margin-bottom: 4.5rem;

    text-align: center;

    h1 {
      font-size: 2.5rem;

      max-width: 60ch;
      width: 100%;
      margin-bottom: 2rem;
      line-height: 1.2;
    }

    small {
      display: block;
      margin-bottom: 0.5rem;
      font-weight: 600;
      color: #a9aaab;
      font-size: 1rem;
    }
  }

  &__body {
    margin-bottom: 6rem;
  }

  &__details {
    margin-top: 1.5rem;
    margin-bottom: 2rem;

    display: grid;
    grid-auto-flow: column;
    column-gap: 3rem;

    font-weight: 500;
    font-size: 0.75rem;
    color: #a9aaab;
  }

  &__image-credit {
    margin-top: 0.5rem;
    display: grid;
    justify-items: end;

    ul {
      display: grid;
      grid-auto-flow: column;
      column-gap: 0.25ch;

      li {
        list-style: none;
        color: #a9aaab;
        font-size: 0.75rem;
        font-weight: 500;

        a {
          text-decoration: underline;
        }
      }
    }
  }
}
