@import "https://cdn.pokko.io/p/fonts/Inter/inter.css";

@import "./palette";
@import "./mixins";

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

body {
  font-family: "Inter";
  display: grid;
  justify-items: center;
}

p {
  margin: 0;
}

.button {
  text-decoration: none;
  font-weight: bold;
  padding: 1rem 1.5rem;
  display: inline-block;

  &.--primary {
    background: var(--colour-primary);
    color: white;
  }

  &.--inverse {
    color: var(--colour-primary);
    background: #eceafd;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 0 0 2rem 0;
  padding: 0;

  @include mobile {
    font-size: 2rem;
    margin: 0 0 1rem 0;
  }
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 979px;

  display: grid;
  grid-auto-flow: row;

  padding: 2rem;

  @include mobile {
    padding: 1rem;
  }
}

@import "./header";
@import "./footer";
@import "./home";
@import "./blog";
@import "./hero";

.content {
  p {
    margin-bottom: 1rem;
    line-height: 1.6;
    text-align: justify;
  }
}

article {
  display: grid;
  justify-items: center;

  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 2.5rem;

    max-width: 60ch;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }

  .content {
    max-width: 60ch;
    width: 100%;
  }

  img:not(:first-of-type) {
    margin: 4rem 0;
    max-width: 60ch;
    width: 100%;
  }

  img:first-of-type {
    margin-bottom: 4rem;
  }
}

.article {
  &__actions {
    display: grid;
    justify-content: center;
  }
}
