@import "https://cdn.pokko.io/p/fonts/Inter/inter.css";

@import "./palette";
@import "./mixins";

html {
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

body {
  font-family: "Inter";
}

p {
  margin: 0;
}

.button {
  text-decoration: none;
  font-weight: bold;
  padding: 1.5rem 2.75rem;
  display: inline-block;

  &.--primary {
    background: var(--colour-primary);
    color: white;
  }

  &.--inverse {
    color: var(--colour-primary);
    background: #eceafd;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 0 0 2rem 0;
  padding: 0;

  @include mobile {
    font-size: 2rem;
    margin: 0 0 1rem 0;
  }
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;

  padding: 2rem 0;

  @include mobile {
    padding: 1rem;
    margin: 0;
  }
}

@import "./header";
@import "./footer";
@import "./home";
@import "./blog";
@import "./hero";
@import "./features";
@import "./work";

.content {
  p {
    margin-bottom: 2rem;
    line-height: 1.8;
  }

  li {
    line-height: 1.8;
  }

  ul {
    list-style: disc inside;
    margin-bottom: 2rem;
  }

  a {
    color: #7930fe;
    text-decoration: underline;
  }
}

article {
  display: grid;
  justify-items: center;

  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 1.5rem;
  }

  .content {
    max-width: 60ch;
    width: 100%;
  }

  img {
    margin: 4rem 0;
    max-width: 60ch;
    width: 100%;
  }
}

.article {
  &__actions {
    display: grid;
    justify-content: center;
  }
}
